<nav class="navbar navbar-default art_nav"> 
  <%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<div class="container">
  <h1 class="header"><%= @artevent.name %></h1>
  <div class="row">
    <div class="col-md-6 show_col_1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <%= link_to " Back to the Art Events Page", art_events_path %>
      <br><br>
      <p class="bold inline">Date:  </p>
      <%= @artevent.event_date.strftime("%m/%d/%y")%>
      <br><br>
      <p class="bold inline">Time:  </p>
      <%= @artevent.start_time.strftime("%l:%M%p") %> - <%= @artevent.end_time.strftime("%l:%M%p") %>
      <br><br>
      <p class="bold">Address:</p> 
      <%= @artevent.street %>, <%= @artevent.city %>, <%= @artevent.state %>, <%= @artevent.zip %>
      <br><br>
      <% if @artevent.details != "" %>
        <p class="bold">Details:</p>
        <%= @artevent.details %>
      <% end %>
      <br><br>
      <% if @artevent.updated_by_id != nil %>
        <em>Last updated by:</em>
        <%= @artevent.updated_by_id %>
      <% end %>
      <% if @artevent.updated_by_id != nil && @artevent.created_by_id != nil %>
        ~ 
      <% end %>
      <% if @artevent.created_by_id != nil %>
        <em>Created by:</em> 
        <%= @artevent.created_by_id %>
      <% end %>
      <br><br>
      <%= link_to "Update This Event", edit_art_event_path(@artevent) %>
      <br><br>
      <% if current_user.is_admin? %>
        <%= link_to "Delete This Event", @artevent, method: :delete, data: { confirm: 'Are you sure you want to delete this artevent?' } %>
      <% end %>
    </div>
    <!-- Google Map goes here -->
    <div class="col-md-6" style='width: 400px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>
  
   <script type ="text/javascript">
  	var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {zoom: 14, provider_key: "AIzaSyBnugBXbtHJ6qqIyILKqKPQ1l2rafKtjx0"}, internal: {id: 'map'}}, function(){
    markers = handler.addMarker(
      {
        lat: <%= @artevent.to_coordinates[0] %>,
        lng: <%= @artevent.to_coordinates[1] %>
      }
    );
    handler.map.centerOn({
        lat: <%= @artevent.to_coordinates[0] %>,
        lng: <%= @artevent.to_coordinates[1] %>
      });
  });
  </script>
</div>