<h1>New User</h1>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :name, placeholder: 'Username', label: "Username"  %>
  <br>
  <%= f.text_field :email, placeholder: 'Email' %>
  <br>
  <%= f.password_field :password, placeholder: 'Password', label: "Password (minimum 5 characters)" %>
  <br>
  <%= f.password_field :password_confirmation, placeholder: 'Password', label: "Confirm Password" %>
  <br>
  <%= f.submit %>
<% end %>