<ul>
  <li class="nav_logo">L.A.Events</li>
  <li class="nav_home"><%= link_to "HOME", events_path, :class => "nav_links" %></li>
  <li><%= link_to "FESTIVALS", festivals_path, :class => "nav_links" %></li>
  <li><%= link_to "ART EVENTS", art_events_path, :class => "nav_links" %></li>
  <li><%= link_to "CONCERTS", concerts_path, :class => "nav_links" %></li>
  <li><%= link_to "GEEK EVENTS", cons_path, :class => "nav_links" %></li>
  <li class="nav_sign_out"><%= link_to "Sign Out", sessions_path, :method => :delete, :class => "nav_links" %></li>
</ul>