<!-- Alerts users if there are any errors in the form -->
<% if @event.errors.any? %>
	<h2><%= pluralize(@event.errors.count, "error") %>
	<ul class="list-group">
		<% @event.errors.messages.each do |message| %>
		<li class="list-group-item list-group-item-danger">
			<%= message[1][0] %>
		</li>
	<% end %>
	</ul> 
<% end %>

<%= bootstrap_form_for @event do |f| %>
<div class="row">
	<!-- Two column form with Bootstrap -->
  <div class="col-md-6">
  	<!-- Makes it easier to style each part of the form with Bootstrap -->
  	<div class="form-group">
			<%= f.text_field :name, placeholder: 'Name', label: "Event Name *" %>
		</div>
  	<div class="form-group">
  		<%= f.label 'Event Type:' %>
  		<%= collection_select :event, :event_type, EventType.all, :id, :name %>
  	</div>
  	<div class="form-group">
			<%= f.date_select :event_date, label: 'Event Date' %>
		</div>
		<!-- Time-field allows you to select hour, minute and AM/PM in one box -->
		<div class="form-inline form-group">
			<%= f.time_select :start_time, {ampm: true, minute_step: 15} %>
			<%= f.time_select :end_time, {ampm: true, minute_step: 15} %>
		</div>
  	<div class="form-group">
			<%= f.text_area :details, {size: "30x7"} %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
		<%= f.text_field :price, placeholder: 'Price', label: "Price *" %>
		</div>
		<!-- Drop down menu to select neighborhood from neighborhood model -->
  	<div class="form-group">
			<%= f.label "Neighborhood:" %>
			<%= collection_select :event, :neighborhood, Neighborhood.all, :id, :name %>
		</div>
  	<div class="form-group">
			<%= f.text_field :street, placeholder: 'Street Address', label: 'Address *' %>
		</div>
  	<div class="form-group">
			<%= f.text_field :city, placeholder: 'City', label: 'City *' %>
		</div>
  	<div class="form-group">	
			<%= f.text_field :state, :value => 'CA', label: 'State *' %>
		</div>
  	<div class="form-group">
			<%= f.text_field :zip, placeholder: 'Zip Code', label: 'Zip Code *' %>
		</div>
		<%= f.submit "Submit" %>
		<% end %>
		<!-- Back arrow -->
		<span class="spaced glyphicon glyphicon-chevron-left"></span>
		<%= link_to "	Back to the Events Page", events_path %>
	</div>
</div>