<nav class="navbar navbar-default event_nav nav_img" role="navigation"> 
  <%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<div class="container">
  <h1 class="header"><%= @event.name %></h1>
  <div class="row show_text">
    <!-- Two column layout with Bootstrap -->
    <div class="col-md-6 show_col_1">
      <!-- Back arrow and link to the main art events page -->
      <span class="glyphicon glyphicon-chevron-left"></span>
      <%= link_to " Back to the Events Page", events_path %>
      <br><br>
      <p class="bold inline">Date:  </p>
      <%= @event.event_date.strftime("%m/%d/%y")%>
      <br><br>
      <p class="bold inline">Time:  </p>
      <%= @event.start_time.strftime("%l:%M%p") %> - <%= @event.end_time.strftime("%l:%M%p") %>
      <br><br>
      <p class="bold">Address:</p> 
      <%= @event.street %>, <%= @event.city %>, <%= @event.state %>, <%= @event.zip %>
      <br><br>
      <% if @event.details != "" %>
        <p class="bold">Details:</p>
        <%= @event.details %>
      <% end %>
      <br><br>
      <!-- If the event has been updated at some point, it will show the username of the last person who updated it -->
      <% if @event.updated_by_id != nil %>
        <em>Last updated by:</em>
        <%= @event.updated_by_id %>
      <% end %>
      <!-- For styling purposes, only shows the ~ if both Last Updated by and Created by are being shown -->
      <!-- Otherwise there is nothing or only one of them on the line -->
      <% if @event.updated_by_id != nil && @event.created_by_id != nil %>
        ~ 
      <% end %>
      <!-- If someone created this event (not seeded), their username will be displayed here -->
      <% if @event.created_by_id != nil %>
        <em>Created by:</em> 
        <%= @event.created_by_id %>
      <% end %>
      <br><br>
      <%= link_to "Update This Event", edit_event_path(@event) %>
      <br><br>
      <!-- Hides the delete button unless user is the admin -->
      <% if current_user %>
        <% if current_user.is_admin? %>
          <%= link_to "Delete This Event", @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %>
        <% end %>
      <% end %>
    </div>
    <!-- Second column -->
    <div class="col-md-6" style='width: 400px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>
  
  <!-- Google Maps API -->
  <script type ="text/javascript">
  	var handler = Gmaps.build('Google');
    // Sets the zoom, your API key
    handler.buildMap({ provider: {zoom: 14, provider_key: "AIzaSyBnugBXbtHJ6qqIyILKqKPQ1l2rafKtjx0"}, internal: {id: 'map'}}, function(){
    // Adds markers to the event based on the coordinates that Geocoder made with the art event's combined address
    // Latitude and longitude are reversed in the Mongo db
    markers = handler.addMarker(
      {
        lat: <%= @event.to_coordinates[0] %>,
        lng: <%= @event.to_coordinates[1] %>
      }
    );
    // Tells the map to center on those coordinates
    handler.map.centerOn({
        lat: <%= @event.to_coordinates[0] %>,
        lng: <%= @event.to_coordinates[1] %>
      });
  });
  </script>
</div>