<nav class="concert_nav">  
	<%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<div class= "container">
	<h1 class="header">Concerts</h1>
	<br>
	<table class="events_list table table-bordered table-responsive table-condensed table-hover">
		<thead>
		<tr>
			<th>Date</th>
			<th style="display: none">Timesort</th>
			<th>Time</th>
			<th>Name</th>
			<th>Price</th>
			<th>Neighborhood</th>
			<th>More Info</th>
		</tr>
		</thead>
		<tbody>
		<% @concerts.each do |concert| %>
		<tr>
			<td><%= concert.event_date.strftime("%m/%d/%y") %></td>
			<td style="display: none"><%= concert.start_time %></td>
			<td><%= concert.start_time.strftime("%l:%M%P") %></td>
			<td><strong><%= concert.name %></strong></td>
			<td><%= concert.price %></td>
			<td><% if concert.neighborhood %><%= concert.neighborhood.name %><% end %></td>
			<td><%= link_to 'Details', concert %></td>
		</tr>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New Concert', new_concert_path %>
</div>