<nav class="navbar navbar-default con_nav">  
  <%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<div class="container">
  <h1 class="header"><%= @con.name %></h1>
  <div class="row">
    <div class="col-md-6 show_col_1">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <%= link_to " Back to the Events Page", cons_path %>
      <br><br>
      <p class="bold inline">Date:  </p>
      <%= @con.event_date.strftime("%m/%d/%y")%>
      <br><br>
      <p class="bold inline">Time:  </p>
      <%= @con.start_time.strftime("%l:%M%p") %> - <%= @con.end_time.strftime("%l:%M%p") %>
      <br><br>
      <p class="bold">Address:</p> 
      <%= @con.street %>, <%= @con.city %>, <%= @con.state %>, <%= @con.zip %>
      <br><br>
      <p class="bold inline">Price: </p><%= @con.price %>
      <br><br>
      <% if @con.details != "" %>
       <p class="bold">Details:</p> 
        <%= @con.details %>
      <% end %>
      <br><br>
      <% if @con.updated_by_id != nil %>
        <em>Last updated by:</em> 
        <%= @con.updated_by_id %>
      <% end %>
      <% if @con.updated_by_id != nil && @con.created_by_id != nil %>
        ~ 
      <% end %>
      <% if @con.created_by_id != nil %>
        <em>Created by:</em> 
        <%= @con.created_by_id %>
      <% end %>
      <br><br>
      <%= link_to "Update This Event", edit_con_path(@con) %>
      <br><br>
      <% if current_user.is_admin? %>
        <%= link_to "Delete This Event", @con, method: :delete, data: { confirm: 'Are you sure you want to delete this festival?' } %>
      <% end %>
    </div>
  <!-- Google Map goes here -->
    <div class="col-md-6" style='width: 400px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>
  </div>

   <script type ="text/javascript">
  	var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {zoom: 14, provider_key: "AIzaSyBnugBXbtHJ6qqIyILKqKPQ1l2rafKtjx0"}, internal: {id: 'map'}}, function(){
    markers = handler.addMarker(
      {
        lat: <%= @con.to_coordinates[0] %>,
        lng: <%= @con.to_coordinates[1] %>
      }
    );
    handler.map.centerOn({
        lat: <%= @con.to_coordinates[0] %>,
        lng: <%= @con.to_coordinates[1] %>
      });
  });
  </script>
</div>